/*Styling for the contact section*/

input {
  display: inline;
  font-size: 1.25rem;
  padding: 20px 20px;
  margin: 10px 5px;
  width: 32%;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  &:hover {
    color: $bronze;
  }
}

#message {
  font-size: 1.25rem;
  padding: 20px 20px;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  width: 65%;
  line-height: 1.5;
  &:hover {
    outline: 2px solid $white;
  }
}

.submitButton {
  background-color: $black;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px 20px;
  width: 65%;
  &:hover {
    outline: 2px solid $white;
    color: $bronze;
    cursor: pointer;
  }
}

.contactMethod .socialMediaIcons {
  margin: 0.5rem 3rem 0 0;
}

ul li {
  font-size: 5rem;
  list-style: none;
  a {
    color: $bronze;
    &:hover {
      color: white;
    }
  }
}

.sectionHeading {
  font-size: 24px;
  color: $white;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 3px solid $lightgrey;
  width: 10%;
}

#contactForm {
  text-align: center;
  background-color: $black;
  color: $white;
}

.formInput {
  background-color: $black;
  color: $white;
}

.contact p {
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.contactMethod {
  display: block;
}

@media (max-width: 500px) {
  formInput {
    width: 50%;
  }
}
