/*Styling for the contact section*/

input {
  display: inline;
  font-size: 1.25rem;
  padding: 20px 20px;
  margin: 10px 5px;
  width: 32%;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  &:hover {
    color: $bronze;
    outline: 2px solid $white;
  }
}

#message {
  font-size: 1.25rem;
  padding: 20px 20px;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  width: 65%;
  line-height: 1.5;
  &:hover {
    outline: 2px solid $white;
  }
}

.submitButton {
  background-color: $black;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px 20px;
  width: 65%;
  &:hover {
    outline: 2px solid $white;
    color: $bronze;
    cursor: pointer;
  }
}

.contactMethod .socialMediaIcons {
  margin: 0.5rem 3rem 0 0;
}

.socialMedia {
  font-size: 4rem;
}

ul li {
  font-size: 5rem;
  list-style: none;
  a {
    color: $bronze;
  }
}

.fab {
  font-weight: 400;
}


.sectionHeading {
  font-size: 24px;
  color: $white;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 3px solid $lightgrey;
  width: 10%;
}

#contactForm {
  text-align: center;
  background-color: $black;
  color: $white;
}

.formInput {
  background-color: $black;
  color: $white;
}

.contact p {
  font-size: 1.25rem;
  text-align: center;
}

.contactMethods {
  display: block;
}
