/*Styling for projects*/

.projects {
  background: $black;
  padding: 5rem 0;
  h2 {
    padding-bottom: 5rem;
    text-align: center;
  }
  h3 {
    color: $white;
  }
  .projectContainer {
    background: $black;
    padding: 5rem 0;
  }
  p {
    font-size: 2rem;
  }
}

img {
  max-width: 100%;
}

.project {
  display: flex;
  align-items: center;
  padding: 5rem 2rem;
  .projectImageContainer {
    width: 50%;
  }
  .projectTextContainer {
    width: 50%;
    p {
      padding-bottom: 2rem;
      font-size: 2rem;
    }
  }
}

.project:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
  .projectImageContainer {
    margin-left: 5rem;
  }
  .projectTextContainer {
    padding-left: 1rem;
    .buttonContainer a {
      margin-left: 0.5rem;
    }
  }
}

.project:nth-of-type(odd) {
  .projectImageContainer {
    margin-right: 5rem;
  }
  .projectTextContainer {
    padding-right: 1rem;
    .buttonContainer a {
      margin-right: 0.5rem;
    }
  }
}

.credit {
  color: $bronze;
  &:hover {
    color: $white;
  }
}

.buttonContainer a {
  color: $lightblack;
  display: flex;
  flex-direction: column;
  margin: 5px;
  font-size: 1.25rem;
}

.liveButton, .githubButton {
  text-transform: uppercase;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  margin: 15px;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }
} 

@media (max-width: 1125px) {
  .projects .projectContainer {
    padding-top: 0;
    .project {
      flex-direction: column;
      text-align: center;
    }
  }
  .project:nth-of-type(2n + 1),
  .project:nth-of-type(2n) {
    .projectImageContainer {
      margin: 0;
    }
    .projectTextContainer {
      padding: 0;
    }
  }
  .project .projectTextContainer,
  .project .projectImageContainer {
    width: 95%;
  }
}
