/*Styling for the skills section*/

.skills {
  padding-bottom: 5rem;
  h2 {
    padding-bottom: 8rem;
    margin-top: -9rem;
    text-align: center;
  }
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  width: 14rem;
  align-items: center;
  flex-wrap: wrap;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    text-align: center;
    p {
      width: 85%;
      text-align: center;
    }
  }
}


@media (max-width: 640px) {
  .skills {
    padding-bottom: 2.5rem;
  }
  .iconsContainer li {
    margin: 2rem;
    i {
      font-size: 8rem;
    }
  }
}
