/*Styling for the skills section*/

.skills li {
  font-size: 3rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  li {
    display: block;
    padding: 20px;
    margin: 15px;
  }
}
