/*Font import - Jost*/
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

/*Font*/
$jost: "Jost", sans-serif;

/*Colors*/
$lightgrey: #888;
$black: #1d1b19;
$bronze: #987750;
$lightblack: #181715;
$white: #fff;
$somegrey: rgba(255, 255, 255, 0.05);
