/*Import partial files*/

@import "partials/setup";
@import "partials/variables";
@import "partials/contact";
@import "partials/skills";
@import "partials/typography";
@import "partials/mixins";
@import "partials/portfolio";

nav {
  display: block;
}

.menu ul {
  text-transform: uppercase;
  color: $bronze;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2rem 0;
  transition: all 1s ease;
  a {
    color: $bronze;
  }
}

contact .sectionHeading {
  text-align: center;
}

.wrapper {
 margin: 0 auto;
 width: 1440px;
 max-width: 90%;
}

.about {
  font-size: 2rem;
  text-align: center;
}

.heroImage img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border: 1px $bronze;
}

.typingAnimation {
  width: 34ch;
  animation: typing 2s steps(22);
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  75% {
    border-color: transparent;
  }
}

h4 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.description {
  font-size: 30px;
}

contact .descriptionText {
  font-size: 2rem;
}

.subtitle {
  font-size: 18px;
  color: $bronze;
  text-transform: uppercase;
  text-align: center;
}

.title {
  font-weight: 700;
  position: relative;
  text-align: center;
}

li {
  list-style-type: none;
}

.copyright {
  color: $lightgrey;
  text-align: center;
  height: 2.5vh;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
}

.footer {
  text-align: center;
  justify-content: center;
}