/*Import partial files*/

@import "partials/setup";
@import "partials/variables";
@import "partials/contact";
@import "partials/skills";
@import "partials/typography";
@import "partials/mixins";
@import "partials/portfolio";

nav {
  display: block;
}

.menu ul {
  text-transform: uppercase;
  color: $lightblack;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2rem 0;
  transition: all 1s ease;
  li {
    font-size: 2rem;
    list-style: none;
  }
  a {
    color: $bronze;
  }
}

.menu {
  background-color: $accent;
  ul {
    @include flexBox(center, center);
    padding: 3rem 0;
    transition: all 1s ease;
    li {
      padding: 0 2rem;
    }
    a {
      transition: all 0.2s ease;
      &:hover,
      &:focus {
        border-bottom: 0.2rem solid $accent;
      }
    }
  }
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

input[type="checkbox"]:checked + .dropdown {
  top: 0;
}

label[for="toggle"] {
  position: absolute;
  right: 1rem;
  padding: 3rem;
  visibility: hidden;
}

label[for="toggle"]:hover {
  cursor: pointer;
}

.button,
input[type="submit"] {
  background: $accent;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
  border: none;
  &:hover,
  &:focus {
    background: lighten($accent, 20);
    cursor: pointer;
  }
}

contact .sectionHeading {
  text-align: center;
}

.sectionHeading {
  color: $bronze;
}

.wrapper {
 margin: 0 auto;
 width: 1440px;
 max-width: 90%;
}

.about {
  font-size: 2rem;
  text-align: center;
}

.heroImage img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border: 1px $bronze;
}

.typingAnimation {
  width: 34ch;
  animation: typing 2s steps(22);
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
}

.blogPost {
  color: $bronze;
  &:hover{
    color:white
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  75% {
    border-color: transparent;
  }
}

h4 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

.description {
  font-size: 30px;
}

contact .descriptionText {
  font-size: 2rem;
}

.subtitle {
  font-size: 3rem;
  color: $bronze;
  text-align: center;
}

.title {
  font-weight: 700;
  position: relative;
  text-align: center;
}

.copyright {
  color: $lightgrey;
  text-align: center;
  height: 2.5vh;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 35px;
  margin: 10px;
}

.footer {
  text-align: center;
  justify-content: center;
}

@media (max-width: 780px) {
  label[for="toggle"] {
    visibility: visible;
    z-index: 5;
  }
  .menu .dropdown {
    flex-direction: column;
    width: 100%;
    padding: 6rem 0;
    background: #1f1f1ffd;
    position: absolute;
    right: 0;
    top: -50rem;
    z-index: 10;
    li {
      padding: 2rem;
    }
  }
}

@media (max-width: 560px) {
  form input[type="text"],
  form input[type="email"] {
    width: 100%;
  }
  form input[type="email"] {
    margin-top: 2rem;
  }
}
